
.card_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(84, 4, 150, 0.705), rgba(153, 0, 255, 0.808));
    clip-path: circle(30% at right 70%);
}
.card_1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
}

.container_1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;

}

.container_1 .card_1 {
position: relative;
width: 280px;
height: 400px;
margin: 30px;
box-shadow: 20px 20px 50px rgba(136, 1, 226, 0.39);
border-radius: 15px;
background: rgba(255, 255, 255, 0.1);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid rgba(162, 6, 253, 0.466);
border-left: 1px solid rgba(163, 6, 253, 0.5);
backdrop-filter: blur(5px);
}

.container_1 .card_1 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container_1 .card_1:hover .content{
    transform: translateY(0);
    opacity: 1;
}

.container_1 .card_1 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container_1 .card_1 .content h3{
    font-size: 1.8rem;
    color: #2e2c2c;
    z-index:1 !important;
}

.container_1 .card_1 .content p {

    font-size: 1rem;
    color: #383737;
    font-weight: 300;
}

.container_1 .card_1 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(113, 19, 236, 0.836);
}
